buildroot/.auto.deps
buildroot/.config.cmd
buildroot/.config.old
buildroot/.config.tmp
buildroot/..config.tmp
buildroot/dl
buildroot/output
*.depend
*.o
buildroot/*.patch
buildroot/*.diff
*.orig
*.rej
*~
bui*.pyc
output/
*.qm
