# GRS BUILD-A-CADE configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Controls via GPIO pins as follows (GPIO address, not physical pin number):

# Configuration for PINN

LEFT      27  # Joystick left
RIGHT     22  # Joystick right
UP         4  # Joystick up
DOWN      17  # Joystick down
ENTER     25  # (right button)
#(spare)    9  # (coin 1 button)
ESC       10  # (left button)
#(spare)   20  # (middle button)
#(spare)   21  # (coin 2 button)
#(spare)   14  # (rear button 1)
#(spare)   15  # (rear button 2)
#(maybe)   24  # button2
#(maybe)   23  # button 3
#(maybe)    5  #Right Joystick up
#(maybe)   19  #Right Joystick left
#(maybe)    6  #Right Joystick down
#(maybe)   26  #Right Joystick right


#--------------------------
# Here's a configuration that will work with all of the current GRS BUILD-A-CADE control panel options:

#LEFT      27  # Joystick left
#RIGHT     22  # Joystick right
#UP         4  # Joystick up
#DOWN      17  # Joystick down
#LEFTCTRL  25  # button 1 (A)
#5          9  # 'Coin1' button (Select)
#1         10  # 'Player1' button (Start)
#2         20  # 'Player2' button (B)
#6         21  # 'Coin2' button (X)
#ENTER     14  # REAR BTN 1 (Y)
#ESC       15  # REAR BTN 2
#TAB	  17 21 # Hold Coin2 and Joy down to enter MAME config
#LEFTALT   24  # button 2
#SPACE     23  # button 3
#I          5  # Right joystick UP
#J         19  # Right joystick LEFT 
#K          6  # Right joystick DOWN
#L         26  # Right joystick RIGHT

# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.
